---
import Information from "./Information.astro";
import Hero from "./Hero.astro";

interface Props {
  herosrc: ImageMetadata;
  repo: string;
  live: string;
  side: "left" | "right";
  description: string;
  stack: {iconName: string; text: string, href: string; width?: number; height?: number}[];
}

const { herosrc, repo, live, side, description, stack } = Astro.props;
---

<div>
  <Hero herosrc={herosrc} live={live} />
  <Information repo={repo} live={live} description={description} stack={stack} />
</div>

<style>
div {
  height: 100%;

  display: flex;
  flex-direction: column;

  @media (min-width: 320px) {
    gap: 1rem;
  }
  @media (min-width: 1980px) {
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 2rem;
  }
}
</style>
