---
import Tool from "./Tool.astro";
import GithubButton from "./GithubButton.astro";
import Hero from "./Hero.astro";
import type { HeroMedia } from "../../types";

interface Props {
  herosrc: HeroMedia;
  repo: string;
  live?: string;
  description: string[];
  stack: {
    iconName: string;
    text: string;
    href: string;
    width?: number;
    height?: number;
  }[];
}

const { herosrc, repo, live, description, stack } = Astro.props;
---

<div class="container">
  <Hero herosrc={herosrc} live={live} />
  <div class="information">
    <div>
      {description.map((it) => <p class="description">{it}</p>)}
    </div>
    <div class={stack.length < 4 ? "stack-small" : "stack"}>
      {
        stack.map((it) => (
          <Tool
            text={it.text}
            href={it.href}
            iconName={it.iconName}
            width={it.width}
            height={it.height}
          />
        ))
      }
    </div>
  </div>
  <div class="actions">
    <GithubButton repo={repo} />
  </div>
</div>

<style>
  .container {
    height: 100%;

    display: flex;
    flex-direction: column;

    @media (min-width: 320px) {
      gap: 0.5rem;
    }
    @media (min-width: 640px) {
      gap: 2rem;
    }
    @media (min-width: 1025px) {
      display: grid;
      grid-template-columns: 6fr 4fr;
      grid-template-rows: 1fr max-content;
      gap: 3rem;
    }
  }

  .information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 320px) {
      padding: 1rem;
      gap: 0.5rem;
    }
    @media (min-width: 640px) {
      gap: 2rem;
    }
    @media (min-width: 1025px) {
      padding: 0;
      gap: 2rem;
      justify-content: space-evenly;
    }
  }

  .description {
    color: #fff;

    text-indent: 1rem;
    text-align: justify;
    font-size: 1.75rem;
    line-height: 2rem;

    @media (min-width: 320px) {
      font-size: 0.75rem;
      line-height: 1rem;
    }
    @media (min-width: 640px) {
      font-size: 1.25rem;
      line-height: 1.25rem;
    }
    @media (min-width: 1025px) {
      font-size: 1.25rem;
      line-height: 1.55rem;
    }
    @media (min-width: 1920px) {
      font-size: 2rem;
      line-height: 2.25rem;
    }
  }

  .stack {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    @media (min-width: 320px) {
      gap: 0.5rem;
    }
    @media (min-width: 640px) {
      grid-template-columns: repeat(4, 1fr);
      gap: 0.75rem;
    }
    @media (min-width: 1025px) {
      grid-template-columns: repeat(3, 1fr);
      gap: 0.75rem;
    }
  }

  .stack-small {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
  }

  .actions {
    grid-column: span 2 / span 2;
    display: flex;
    justify-content: center;
  }
</style>
