---
import Information from "./Information.astro";
import Hero from "./Hero.astro";

interface Props {
  title: string;
  herosrc: ImageMetadata;
  repo: string;
  live: string;
  side: "left" | "right";
  description: string;
  stack: {iconName: string; text: string, href: string; width?: number; height?: number}[];
}

const { herosrc, repo, live, side, title, description, stack } = Astro.props;

---
<script>
const observer = new IntersectionObserver((entries) => {
  entries.forEach((entry) => {
    if (entry.isIntersecting) {
      entry.target.classList.add("show");
      entry.target.classList.remove("hide");
    }
  });
});

document.querySelectorAll("section").forEach((it) => { observer.observe(it); });
</script>

<section class={ `hide ${side}` }>
  {side === "left" && <Hero herosrc={herosrc} live={live} />}
  {side === "right" && <Information repo={repo} live={live} title={title} description={description} stack={stack} />}
  {side === "left" && <Information repo={repo} live={live} title={title} description={description} stack={stack} />}
  {side === "right" && <Hero herosrc={herosrc} live={live} />}
</section>

<style>
  section {
    height: 100vh;
    padding-inline: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    transition: all 1.5s ease-in-out;
    overflow-x: hidden;

    scroll-snap-align: start;

    @media (min-width: 320px) {
      padding-block: 2.25rem;
    }
    @media (min-width: 640px) {
      padding-block: 3.75rem;
    }
    @media (min-width: 1024px) {
      padding-block: 5.75rem;
    }
  }

  .hide {
    opacity: 0;
    filter: blur(10px);
  }
  .left {
    transform: translateX(-90%);
  }
  .right {
    transform: translateX(90%);
  }
  .show {
    opacity:1;
    filter: blur(0);
    transform: translateX(0);
  }
</style>

